@{
    ViewData["Title"] = "PrePass Application";
}


<div class="text-center">
    <h1 class="display-4">Welcome to PrePass</h1>
    <h2>Assessment System for People Reporting as Homeless</h2>
    <p></p>
    <h3>@ViewBag.msg</h3>


    @*<div>
        @if (ViewBag.eid == null)
        {
            <partial name="_Signin.cshtml" />
        }
    </div>*@

    @*@ViewBag.sm_message*@
    <p></p>
    <img src="~/images/housing.png" />

    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@


</div>
