@*@{
    ViewData["Title"] = "SuperUser";
}

<div class="text-center">
    <h1 class="display-4">SuperUser Area</h1>
    <a href="/">Home</a> |
    <a href="/staffs/">Show Staff List</a> |
    <a href="/districts/">Show District List</a> |
    <a href="/reports/">Reports Area</a>
</div>*@